@charset "UTF-8";
/*intro settings*/
.intro{
    position: absolute;
    top: 10%;
    left: 0;
    width: 90vw;
    margin: 15px;
    font-family: var(--RCB);
}
.intro h1{
    font-size: 2em;
    color: var(--main_green);
    margin-bottom: 30px;
}
.intro p{
    font-size: 1.2em;
    line-height: 1.5;
    color: var(--text);
    margin-bottom: 20px;
}
.intro .proposts_span{
    color: var(--dark_blue);

}
.intro button{
    background-color: var(--light_blue);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.intro button a{
    text-decoration: none;
    color: var(--main_white);
}
.intro button:hover{
    background-color: var(--dark_blue);
    border: 1.5px solid var(--light_blue);
}