@media screen and (min-width: 610px){
    
    .close{
        display: none;
    }
    .burguer-icon{
        display: none;
    }
    .menu{
        position: absolute;
        top: 0 !important;
        height: 50px !important;
        flex-direction: row !important;
    }
    .menu li button{
        width: 100px !important;
    }

}