@charset "UTF-8";
/*Default settings*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --montserrat: "Montserrat", sans-serif;
    --Osans: "Open Sans", sans-serif;
    --main_green: #2ECC40;
    --main_white: #FFFFFF;
    --text: #769c72;
    --yellow: #f6f652;
    --orange: #FF8C00;
    --dark_green: #208820;
    --light_blue: #87CEEB;
    --dark_blue: #1500ff;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: row;
}