@charset "UTF-8";
/*Default settings*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-x: hidden;
}

:root{
    --montserrat: "Montserrat", Arial, Helvetica, sans-serif;
    --Osans: "Open Sans", Arial, Helvetica, sans-serif;
    --poppins: "Poppins", Arial, Helvetica, sans-serif;
    --RCB: "Radio Canada Big", Arial, Helvetica, sans-serif;
    --inter: "Inter", Arial, Helvetica, sans-serif;
    --main_green: #2ECC40;
    --main_white: #FFFFFF;
    --text: #769c72;
    --text2: #46ff5b;
    --grey: #626262;
    --yellow: #f6f652;
    --orange: #FF8C00;
    --dark_green: #208820;
    --light_blue: #87CEEB;
    --dark_blue: #1500ff;
}