@charset "UTF-8";

.who_are_we{
    font-family: var(--inter);
    position: absolute;
    top: 280%;
    left: 0;
    margin: 15px;
}
.who_are_we h2{
    margin-bottom: 15px;
    color: var(--text);
}
.who_are_we .p1, .p2{
    padding-bottom: 15px;
}
.who_are_we ul li{
    padding-top: 5px;
    padding-bottom: 20px;
}
.diferenca{
    color: var(--main_green);   
}